<!DOCTYPE html>
<html lang="zh">
<head>
    <title>GysoScrcpy</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script type="text/javascript" src="/static/general/js/Decoder.js"></script>
    <script type="text/javascript" src="/static/general/js/YUVCanvas.js"></script>
    <script type="text/javascript" src="/static/general/js/Player.js"></script>
    <script type="text/javascript" src="/static/general/js/pcm-player.min.js"></script>
    <script type="text/javascript" src="/static/screen_event.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<div id='container' style="display: inline-block;"></div>
</body>
<script type="module" src="{{ url_for('static', filename='gysoscrcpy.js') }}"></script>
</html>